<!DOCTYPE html>
<html lang="<%=lang%>" dir="<%=dir%>">
<head>
    <meta charset="UTF-8" />
    <title><%=title%></title>
    <meta name="description" content="<%=meta_description %>" />
    <meta name="keywords" content="<%=meta_keywords%>">
    <meta name="author" content="Meetup.asia">
    <link rel="canonical" href="https://meetup.asia/">

    <link rel="stylesheet" type="text/css" href="/stylesheets/white.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KKHKK2NBMF"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-KKHKK2NBMF');
    </script>
</head>
